name: Release

permissions:
  contents: write
  id-token: write

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        # This shit is required because of npm oidc
        # Im too lazy how to configure bun equivalent
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - run: bun install --ignore-scripts
      - run: bun run build

      - run: bun run scripts/release.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Enable after configuring oidc
      # - run: npm publish --ignore-scripts
